{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фильмы</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {%  include 'header.html' %}
    <h1>Все фильмы</h1>
    <ul>
        <!-- Цикл вставить тут -->
         {% for i in book %}
        <li>
            <img src="{{ i.image.url }}" alt="" width="450" height="400">
            <h2>{{ i.title }}</h2>
            <time datetime="">{{ i.created_at }}</time>
            <a href="/book_list/{{i.id}}">Подробнее</a>
        </li>
        <hr>
        {% endfor %}
        <!-- Цикл закрыть тут -->

    </ul>
    {% include 'footer.html' %}
</body>
</html> 