<!-- Header -->
<header style="background-color:#1e1e1e; padding:20px 40px; box-shadow:0 4px 10px rgba(0,0,0,0.5); display:flex; justify-content:space-between; align-items:center;">
   <h1 style="margin:0; font-size:24px; color:#ff3c00;">GEEKS 58-1</h1>
   <nav>
       <a href="{% url 'book_list' %}" style="color:#f5f5f5; margin-right:20px; font-weight:bold;">Главная</a>
       <a href="#" style="color:#f5f5f5; margin-right:20px; font-weight:bold;">Хэштеги</a>
       <a href="#" style="color:#f5f5f5; margin-right:20px; font-weight:bold;">TODO</a>
       <a href="#" style="color:#f5f5f5; margin-right:20px; font-weight:bold;">Авторизация</a>
       <a href="#" style="color:#f5f5f5; margin-right:20px; font-weight:bold;">Регистрация</a>
   </nav>
</header>