{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>                                                                                              
{% include 'header.html' %}  

<h1>Заказы</h1>                                                                      
    <ul>                                                                                                
        {% for i in orders %}                                                                    
        <li>                                                                                              
            {{ i.book.title }} -                                                        
            {{ i.name }} -
            {{ i.count }} -                 
        </li> 
        <a href="{% url 'basket_delete' i.id %}">Удалить</a>
        {%empty%}  
           <li>Пока нет заказов</li>                                                                                           
        {%endfor%}                                                                                 
    </ul>      
    
    
{% include 'footer.html' %}                                                               
</body>
</html>